* {
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
}

:root {
    --White: hsl(0, 0%, 100%);
    --Light-pink: hsl(275, 100%, 97%);
    --Grayish-purple: hsl(292, 16%, 49%);
    --Dark-purple: hsl(292, 42%, 14%);
}

body {
    background: var(--Light-pink);
}

.main-title {
    display: flex;
    margin-top: 1rem;
}

.main-title img {
    width: 5%;
    margin-right: 1rem;
}

.container {
    padding: 1.25rem;
    display: block;
    max-width: 450px;
    background-color: white;
    margin: 0 auto;
    margin-top: 100px;
    border-radius: 1rem;
}

.accordion {
    background-color: white;
    cursor: pointer;
    padding: 1rem 0;
    width: 100%;
    font-weight: 600;
    font-size: 1rem;
    text-align: left;
    border: none;
    transition: 0.4s;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .accordion:hover {
    background-color: #ccc;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
    padding: .5rem 0;
    color: grey;
    font-size: .9rem;
    display: none;
    overflow: hidden;
}
